pdf2image~=1.17.0
openai~=2.7.1
instructor~=1.13.0
pandas~=2.3.3
python_docx
psycopg2~=2.9.11
flask
intuit-oauth
python-quickbooks
nltk
spacy
bs4
openpyxl
sqlalchemy~=2.0.44
dotenv~=0.9.9
python-dotenv~=1.2.1
docx~=0.2.4
pydantic~=2.12.4